@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.CoffeePost {
  box-sizing: border-box;
  margin: 5vh auto;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  background-color: #fff;
  box-shadow: -8px -8px 8px 0 rgba(218, 224, 231, 1),
    8px 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.CoffeePost h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin: auto;
}

.StarRatingComponent {
  margin: 15px;
  vertical-align: middle;
}

.StarRatingComponent label {
  width: auto;
  padding: 0px;
  height: 1.5rem;
}

.DatePosted {
  display: inline-block;
  position: relative;
  margin: 5px;
}

@media (min-width: 800px) {
  .CoffeePost {
    width: 60%;
  }
}
