@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.Logo {
  
  background-color: transparent;
  color: white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.25rem;
  height: 100%;
  box-sizing: border-box;
  font-weight: light;
  line-height: 0;
}

.Coffee {
  margin: 12px auto auto auto;
}

.Locker {
  left: 10px;
}
