.PostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.StarRatingComponent {
  vertical-align: middle;
}

.StarRatingComponent label {
  width: auto;
  padding: 0 5px;
  height: 1.5rem;
}

i {
  font-size: 2rem;
}

.Form {
  margin: auto;
}

@media (min-width: 1000px) {
  
}
