.NavigationItems {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  align-items: center;
  padding: 0;
  z-index: 2000;
}

.NavigationItems a,
.LogoutBtn {
  color: #470b53;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  font-size: 1.5rem;
  line-height: normal;
}

.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a.active,
.LogoutBtn:hover,
.LogoutBtn:active,
.LogoutBtn.active {
  color: #40a4c8;
  border-bottom: none;
}

.LogoutBtn {
  border: none;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.LogoutLI {
  text-decoration: none;
  list-style-type: none;
}

@media (min-width: 500px) {
  .NavigationItems {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItems a,
  .LogoutBtn {
    color: white;
    height: 100%;
    padding: 16px 10px;
    font-size: 1rem;
  }

  .NavigationItems a:hover,
  .NavigationItems a.active {
    background-color: #470b53;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }

  .NavigationItems {
    flex-flow: row;
  }

  .LogoutBtn {
    padding: 16px 10px;
    box-sizing: border-box;
    color: white;
  }
}
